# Ignore development environment configuration files
.git*
.editorconfig
**/.vs
**/.vscode
**/*.md
**/*.user
**/*.json
!**/AppSettings.json
!**/stylecop.json
!**/settings.json
**/*.Cache
**/node_modules
**/npm-debug.log

# Ignore build artifacts
**/bin
**/obj